@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
    display: none;
} 
.scrollbar-hide {
    scrollbar-width: none;
}

.bg-gradient-primary-500-r {
    background-image: linear-gradient(144deg, #536DFF 6.72%, #673299 136.95%);
}

.bg-gradient-primary-500-l {
    background-image: linear-gradient(144deg, #673299 6.72%, #536DFF 136.95%);
}

@layer components {
  form.error input:invalid:not(:focus) {
    @apply border-danger-500;
  }
  form.error textarea:invalid:not(:focus) {
    @apply border-danger-500;
  }
}

body {
    font-size: 14px;
}
